.dp-menu ul {
    list-style-type: none;
    padding: 0;
    padding: 10px;
    z-index: 1;
    background-color: rgb(255, 255, 116);
    top: 0;
    margin: 0;
    text-align: center;
  }
  
  
  .dp-menu ul li {
    display: inline;
    position: relative;
    
  }
  
  .dp-menu ul li a {
    color:rgb(77, 77, 77);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .5s;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  
  .dp-menu ul li a:hover {
    color: black;
    border-radius: 5px;
    border: solid 1px black;
  }
  
  /*sub menu*/
  .dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
    margin-top: 30px;
    padding: 0;
  }
  
  .dp-menu ul ul li a{
    border: none;
  }
  .dp-menu ul ul li a:hover {
    border: none;
  }
  
  .dp-menu ul li:hover ul {
    display: block;
  }
  
  .dp-menu ul ul {
    width: 150px;
  }
  
  .dp-menu ul ul li a {
    display: block;
  }